# Exemple Chiffre d'affaire vente

Pour mener à bien notre exploration et manipulation de données, nous importerons les bibliothèques essentielles. Pandas nous permettra de manipuler les données de manière tabulaire, NumPy facilitera les calculs, tandis que Matplotlib et Seaborn nous aideront à créer des visualisations informatives incluant des courbes et des graphiques.

# 1. Importer les bibliothèques requises.

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 2. Chargement et visualisation des données

Charger les données dans un DataFrame Pandas à partir du fichier "ventes.csv".

In [ ]:
df= pd.read_csv("ventes.csv")
df

Afficher un aperçu des premières lignes du jeu de données.

In [ ]:
df.head()

Afficher la liste des produits

In [ ]:
df["Produit"].unique()

Afficher la liste des catégories de produits

In [ ]:
df["Catégorie"].unique()

Convertir la première colonne "Date" en format date

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

Afficher le chiffre d'affaire par année de chaque article par un graphique en ligne

In [ ]:
ca_article_annee = df.groupby([df['Date'].dt.year,"Produit"])["Prix HT"].sum().reset_index()
print(ca_article_annee)

In [ ]:
plt.figure(figsize=(10, 6))
pivot_df = ca_article_annee.pivot(index='Date', columns='Produit', values='Prix HT')
pivot_df.plot(kind='line')
plt.title("Évolution du Prix HT par article par années")
plt.xlabel("Année")
plt.ylabel("Total Prix HT")
plt.legend(title="Produit")
plt.tight_layout()

Afficher l'évolution du chiffre d'affaire total par années par un graphique en bar

In [ ]:
ca_par_annee= df.groupby(df["Date"].dt.year)["Prix HT"].sum()
print(ca_par_annee)

plt.figure(figsize=(10, 6))
ca_par_annee.plot(x="Date",y="Prix HT",kind='bar')
plt.title("Évolution du Prix HT par années")
plt.xlabel("Année")
plt.ylabel("Total Prix HT")
plt.tight_layout()