# Exemple Titanic

Pour mener à bien notre exploration et manipulation de données, nous importerons les bibliothèques essentielles. Pandas nous permettra de manipuler les données de manière tabulaire, NumPy facilitera les calculs, tandis que Matplotlib et Seaborn nous aideront à créer des visualisations informatives incluant des courbes et des graphiques.

# 1. Importer les bibliothèques requises.

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 2. Chargement et visualisation des données

Charger les données dans un DataFrame Pandas à partir du fichier "ventes.csv".

In [ ]:
df= pd.read_csv("titanic.csv")
df.describe()

Afficher un aperçu des premières lignes du jeu de données.

In [ ]:
df.head()

In [ ]:
Afficher la matrice de corrélation

In [ ]:
correlation_matrix = df.corr()

# Affichage de la heatmap de la matrice de corrélation
plt.figure(figsize=(8, 6))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', center=0)
plt.title("Matrice de Corrélation")
plt.tight_layout()

# Affichage de la heatmap
plt.show()

Afficher les lignes qui contiennent des valeurs null

In [ ]:
df[df.isna().any(axis=1)]

Mettez à jour les valeurs "Embarked" nulles avec la valeur "S".

In [ ]:
df["Embarked"].fillna("S",inplace=True)

Mettez à jour les valeurs "Age" nulles avec les médianes correspondantes.

In [ ]:
df["Age"].fillna(df["Age"].median(),inplace=True)

Mettez à jour les valeurs "Cabin" nulles avec la valeur "C85" pour les lignes dont "Embarked=C" et "C123" si non. Ensuite, réaffichez les valeurs nulles pour vérification.

In [ ]:
df.loc[df['Embarked'] == 'C', 'Cabin'] = df.loc[df['Embarked'] == 'C', 'Cabin'].fillna('C85')
df.loc[df['Embarked'] != 'C', 'Cabin'] = df.loc[df['Embarked'] != 'C', 'Cabin'].fillna('C123')

Réaffichez les valeurs nulles pour vérification.

In [ ]:
df[df.isna().any(axis=1)]

Afficher un graphique représentant le nombre de survivant par sexe

In [ ]:
nb_survivant_par_sexe=df.groupby("Sex")["Survived"].sum()
print(nb_survivant_par_sexe)
plt.figure(figsize=(10, 6))
nb_survivant_par_sexe.plot(kind="bar")
plt.title("Nombre de survivant par sexe")
plt.xlabel("Sexe")
plt.ylabel("Nombre de survivant")
plt.tight_layout()